<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
  <property resource="application.yml"/>
  <springProfile name="dev">
    <property resource="application-dev.yml"/>
  </springProfile>
  <springProfile name="prod">
    <property resource="application-prod.yml"/>
  </springProfile>
  <springProfile name="local">
    <property resource="application-local.yml"/>
  </springProfile>
  <springProperty name="LOGSTASH_URL" source="logstash.url"/>

  <property name="LOGS_ABSOLUTE_PATH" value="./logs"/>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>${LOGSTASH_URL}</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <providers>
        <mdc/>
        <pattern>
        </pattern>
        <timestamp/>
        <context/>
        <threadName/>
        <loggerName/>
        <logLevel/>
        <message/>
        <logstashMarkers/>
        <stackTrace/>
        <callerData/>
      </providers>
    </encoder>
  </appender>

  <springProfile name="default">
    <logger name="com.zzaug" level="INFO" additivity="false">
      <appender-ref ref="LOGSTASH"/>
    </logger>
  </springProfile>

  <springProfile name="prod">
    <logger name="com.zzaug" level="INFO" additivity="false">
      <appender-ref ref="LOGSTASH"/>
    </logger>
  </springProfile>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.zzaug" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="LOGSTASH"/>
    </logger>
  </springProfile>

  <springProfile name="local">
    <root level="DEBUG">
      <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.springframework.transaction.interceptor" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.zzaug" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
<!--      <appender-ref ref="LOGSTASH"/>-->
    </logger>
  </springProfile>

</configuration>